*,
p {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color:#38385f;
  font-family: 'Lato', sans-serif;
}

a {
    text-decoration: none;
    color: #38385f;
    font-weight: bolder;
}

a button {
    width: 90%;
    border-radius: 0.2rem;
    border-style: none;
    font-weight: bolder;
}

.media_div a {
    height: 4rem;
    margin: 1rem;
    border-radius: 0.5rem;
}

.media_links:hover {
  border-bottom: solid #605b81;
  border-radius: 0;
}

a button:hover {
  background-color: #8d7bf7;
  color: white;
}

main {
    background: linear-gradient(to left bottom, #605b81, #8d7bf7);
}

.glass_bg {
    margin: 2rem 0;
    width: 80%;
    background: linear-gradient(to right bottom, rgba(255,255,255,0.5),rgba(255,255,255,0.6));
    border-radius: 1.5rem;
}

.border_mine {
  border-top-left-radius: 1.5rem;
  border-bottom-left-radius: 1.5rem;
}

.profile_side {
  flex: 2;
  border-top-left-radius: 1.5rem;
  border-bottom-left-radius: 1.5rem;
}

.content_side {
    display: flex;
    flex: 4;
    align-items: center;
    height: 90%;
}

.content_side h2,
.content_side p,
.content_side div {
    text-align: center;
}

.profile_content {
  position: -webkit-sticky;
  position: sticky;
  top: 12px;
}

.profile_pic {
    max-width: 5rem;
    border-radius: 50%;
}

.media_div {
    margin: 4rem 0;
}

.media_icons {
    width: 3rem;
    padding: 0;
}

.email_icon {
    width: 3rem;

}

.more_link:hover {
    text-decoration: underline;
}

.projects_container {
    margin: 1rem 0;
}

.projects {
    width: 75%;
    margin: 3rem 3rem;
    padding: 2rem 1rem;
    border-radius: 1rem;
    background: linear-gradient(to right bottom, rgba(255,255,255,0.4),rgba(255,255,255,0.2));
    box-shadow: 2px 2px rgba(66, 66, 66, 0.233);
}

.project_pic {
    width: 40%;
}

.project_desc {
    flex: 3;
}

.skill_set {
    margin-top: 2rem;
}

.skill_text {
    font-size: 1.5rem;
}

.skills_icons {
    width: 13%;
    max-width: 3rem;
    height: 3rem;
    margin: 1.5rem 1rem;
}

.h-adjust {
    width: 20%;
}

.project_desc p {
    width: 80%;
    margin-top: 1rem;
}

.project_desc a,
.project_desc button {
    margin: 0.5rem 0 0 0;
    padding: 0.2rem 0;
    width: 80%;
}

.CV_image {
    width: 15%;
    max-width: 2rem;
    max-height: 3rem;
}

.download_CV {
    margin: 2rem 0 0 0;
    background: linear-gradient(to left bottom, #605b81, #8d7bf7);
    width: 80%;
    border-radius: 0.5rem;
    height: 5rem;
}

.download_CV p {
    margin-left: 1rem;
    color: white;
}

nav {
  height: 2rem;
  background: linear-gradient(to right bottom, rgba(255,255,255,0.5),rgba(255,255,255,0.6));
}

.contact_modal_container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    background-color: rgba(0,0,0,0.4);
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s;
}

.active_modal {
  visibility: visible;
  opacity: 1;
}

.modal_links:hover {
  text-decoration: underline;
}

.close_modal {
    background-color: #8d7bf7;
    color: white;
}

.contact_modal_content {
  position: relative;
  border-radius: 1rem;
}

.contact_modal_content h5 {
  border-bottom: solid 2px black;
}

li p {
  color: #38385f;
  font-weight: bolder;
  cursor: pointer;
}

@media screen and (max-width: 940px) {

    .skills_icons {
      width: 8%;
      margin: 0.5rem 0rem;
    }

    .projects {
      margin: 2rem 1rem;
      padding: 1rem 1rem;
    }

    .project_pic {
      width: 75%;
    }
}

@media screen and (max-width: 720px) {

  .projects {
    padding: 1rem 0.1rem;
  }

  .projects h3 {
    margin-top: 0.5rem;
  }

  .project_pic {
    width: 80%;
  }
}
